*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Poppins',
    sans-serif;
}

.heading{
    font-weight: 400;
}

p{
    font-weight: 200;
    font-size: 18px;
}

.addRad{
    border-radius: 7px;
}

.text__clamp{
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    overflow: hidden;
}

@media (min-width: 767px){
.md_flex > div{
    width: 50%;
}

.md_flex{
    display: flex;
}

}

